$sans-serif-font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
// $sans-serif-font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$cond-font-family:       "open-sans-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$nav-font-family:        $cond-font-family;
